/*公共样式*/

.btn_confirm {
    /* font-size: 15px; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #42b983;
    color: #FFFFFF;
    border: none;
}