/*公共样式*/

.btn_confirm {
    /* font-size: 15px; */
    min-width: 50px;
    max-width: 70px;
    padding: 5px 10px 5px 10px;
    background-color: #42b983;
    color: #FFFFFF;
    border: none;
    outline: none;
    /*规定文本不进行换行：*/
    white-space: nowrap;
    /*隐藏溢出*/
    overflow: hidden;
    /*是超出省略变...*/
    text-overflow: ellipsis;
}

.btn_confirm:hover {
    background-color: #228B22;
}

.btn_capsule {
    border-radius: 20px;
}

/*Vue.js样式，确保页面加载时不会出现Vue.js变量  */
[v-cloak] {
    display: none !important;
}